{% extends "tmp.html" %}
{% block body %}
	<div id="page_align" class="b3radius">
		<div id="header">
			<div id="header_nav">
				<ul>
					<li><a href="{{ url_for('index') }}">Main</a></li>
					<li><a href="{{ url_for('parse') }}">Search in text</a></li>
                    <li><a href="{{ url_for('tomita') }}">Tomita parser</a></li>
					<li><a href="{{ url_for('other') }}">Other</a></li>
					<li><a href="{{ url_for('developer_information') }}">Developer Information</a></li>
				</ul>
				<form method="" action="">
					<input type="text" name="topsearch" placeholder="Search" class="b3radius">
				</form>
			</div>
		</div>
		<div id="content">
            <font size="2" font style="font-family:Monotype Corsiva;">
                <p align="right"> Novosibirsk, 2014 </p>
            </font>
  	    </div>
    </div>
{% endblock %}
